body {
  margin: 0;
  color: #111;
  font-family: sans-serif;
}
article {
  border-bottom: 1px black solid;
  line-height: 1.4;
}
code, pre {
  font-family: "Monaco", Monospace;
  white-space: pre-wrap; 
}
fram, fram > * { display: inline-block; }
fram.revealed > answer { visibility: visible; }
fram.previous > answer { font-weight: bolder; }
fram.focused > question { visibility: visible; }
fram.focused > answer, fram.hidden > answer {
  visibility: hidden; }
fram.hidden > question, fram.hidden > answer {
  visibility: hidden; }
fram {
  position:relative;
  clear: both;
  border-top: 1px #999 solid;
  padding: 2em 0em 2em;
/*  margin-bottom: 2em; */
  width: 100%;
}

fram > ord {
  text-align: left;
  font-size: 60%;
  line-height: 1;
  float: left;
  position: absolute;
  top: 0;
  left: 1;
  /* comment the following to display qa numbers in topleft corner */
  display: none;
}

fram > question, fram > answer {
  float: left;
  width: 46%;
  padding-bottom: 2em;
}
fram > answer {
  margin-left: 4%;
}
fram > question { margin-left: 2%; overflow-x: auto; }

h1#main-title {
  float: left;
  width: 48%;
  margin-left: 2%;
}
div.instructions{
  margin-top: 1em;
  float: right;
  width: 48%;
}
footer {
  clear: both;
  text-align: left;
  padding: 1em 2%;
  font-size: small; }
